<section class="bg-gray-600 text-white px-6 py-20">

  <div class="max-w-6xl mx-auto grid md:grid-cols-2 gap-10 items-center">

    <div>

      <h1 class="text-5xl md:text-6xl font-extrabold leading-tight">
        Je crée des applications <span class="text-gray-200">modernes</span> et performantes
      </h1>

      <p class="mt-5 text-gray-200 text-lg">
        Développeur Full Stack Angular & NestJS.
        Je transforme les idées en produits réels, rapides et scalables.
      </p>

      <div class="mt-8 flex gap-4">
        <a href="#projects"
           class="px-6 py-3 bg-gray-700 hover:bg-gray-800 rounded-xl transition">
          Voir mes projets
        </a>

        <a href="#contact"
           class="px-6 py-3 border border-gray-300 hover:bg-gray-300 hover:text-gray-900 transition rounded-xl">
          Me contacter
        </a>
      </div>

      <div class="mt-10 flex gap-8 text-sm text-gray-200">
        <div>
          <p class="text-2xl font-bold text-white">+15</p>
          Projets
        </div>

        <div>
          <p class="text-2xl font-bold text-white">2+</p>
          Ans expérience
        </div>

        <div>
          <p class="text-2xl font-bold text-white">100%</p>
          Dédié
        </div>
      </div>

    </div>

    <div class="flex justify-center">

      <img src="assets/avatar.png"
           class="w-72 h-72 rounded-full object-cover border-4 border-gray-400 shadow-xl hover:scale-105 transition">

    </div>

  </div>

</section>